@import "tailwindcss";

body{
  background:#090909;
  color:#F2EDEA;
}

*{
  transition:all .25s ease;
}

input,
textarea,
select{

  background:#111111;

  color:#F2EDEA;

  border:1px solid #232323;

}

input::placeholder,
textarea::placeholder{

  color:#A1A1A1;

}

button{

  cursor:pointer;

}

button:hover{

  transform:translateY(-2px);

}

a:hover{

  color:#60899B;

}

body{

background:#0A0F14;

color:#F2EDEA;

}

.card{

background:#111111;

border:1px solid #232323;

border-radius:24px;

}

.input{

background:#111111;

border:1px solid #353535;

color:#F2EDEA;

}

.btn-primary{

background:#1C3E4E;

transition:0.3s;

}

.btn-primary:hover{

background:#285C70;

}